<h1>Apartment</h1>

<%=@flat.name%>
<%=@flat.description%>

<%= link_to "Edit", edit_flat_path(@flat)%>
<%= link_to "Delete", flat_path, data: {
turbo_method: "delete",
turbo_confirm: "Are you sure?"
} %>

